

body {
    background-color: #160B20;
}

/* -------------------------- */
/*         Link style         */
/* -------------------------- */
.navbarlink {
    background-color: transparent;
    text-decoration: none;

    font-family:Dubai;
    font-size: 30px;
}
    .navbarlink:link {
        color: #bbbbff;
    }

    .navbarlink:visited {
        color: #bbbbbb;
    }

    .navbarlink:hover {
        color: #dddddd;
        text-decoration: underline;
    }

    .navbarlink:active {
        color: #aaaaaa;
        text-decoration: underline;
    }

.paragraphlink {
    background-color: transparent;
    text-decoration: underline;
}
    .paragraphlink:link {
        color: #bbbbff;
    }

    .paragraphlink:visited {
        color: #bbbbdd;
    }

    .paragraphlink:hover {
        color: #dddddd;
        text-decoration: underline;
    }

    .paragraphlink:active {
        color: #aaaaaa;
        text-decoration: underline;
    }

/* -------------------------- */
/*         div things         */
/* -------------------------- */
/* Navigation bar */
.navigation.bar {
    padding: 0px;
    width: 100%;
    height: auto;
    display: flex;

    position: fixed;
    top: 0;
    right: 0;

    background-color: #060508;
}
    .navigation.bar > div {
        width:20%;
    
        text-align:center;
        color:#ffffff;
    }

/* Rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Columns */
.column {
    padding: 0px;
    width: 15%;
    height: 300px; /* Should be removed. Only for demonstration */

    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;

    text-align: center;
}

    .column.topbanner {
        width: 60%;
        height:auto;
    }
        .column.topbanner > h1 {
            font-family:Geneva, sans-serif;
            color: #E8E8E8;
        }
        .column.topbanner > h2 {
            font-family: Geneva, sans-serif;
            color: #919191;
        }
        .column.topbanner > p {
            font-family: Geneva, sans-serif;
            color: #E0E0E0;
            text-align:left;
        }
        .column.topbanner > ul > li {
            font-family: Geneva, sans-serif;
            font-size:small;
            color: #E0E0E0;
        }

    .column.projectlist {
        width: 80%;
        height:auto;

        padding-top: 20px;
        padding-bottom: 20px;

        margin-bottom:20px;

        background-color: #0e0817;
    }
        /* Project list header */
        .column.projectlist > h1 {
            font-family: Geneva, sans-serif;
            color: #E8E8E8;
        }

        .column.projectlist > h2 {
            font-family: Geneva, sans-serif;
            color: #919191;
        }

/* Updated project list items */
.projectitem {
    width: 27%;
    display: inline-block;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    height: auto;
}
    .projectitem > a > img {
        width:100%;
        height:100%;
    }

    .projectitem > h1 {
        color: white;
        font-family: Geneva, sans-serif;
    }


/* Footer of the page, for stuff like social links and additional info */
.footer {
    width: 100%;
    height: 300px;

    bottom: 0;
    background-color: #060508;
}